/.metadata/
/.recommenders/
jcth/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
jcth/.metadata/.mylyn/.taskListIndex/segments_1
jcth/.metadata/.mylyn/.taskListIndex/write.lock
jcth/.metadata/.mylyn/repositories.xml.zip
jcth/.metadata/.mylyn/tasks.xml.zip
jcth/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
jcth/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
jcth/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
jcth/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
jcth/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
jcth/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
jcth/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
jcth/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
jcth/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
jcth/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
jcth/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
jcth/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
jcth/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
jcth/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
jcth/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
jcth/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
jcth/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
jcth/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
jcth/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
jcth/.metadata/.plugins/org.eclipse.jdt.core/index.db
jcth/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
jcth/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
jcth/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
jcth/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
jcth/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
jcth/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
jcth/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.8.2.20171007-0217.xml
jcth/.metadata/.plugins/org.eclipse.ui.intro/introstate
jcth/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
jcth/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
jcth/.metadata/.lock
jcth/.metadata/.log
jcth/.metadata/version.ini
jcth/.idea/modules.xml
jcth/.idea/compiler.xml
jcth/.idea/encodings.xml
jcth/.idea/libraries/Maven__junit_junit_4_13.xml
jcth/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
jcth/.idea/misc.xml
jcth/.idea/uiDesigner.xml
jcth/.idea/vcs.xml
jcth/.idea/workspace.xml
jcth/jcth.iml
